@import "./styles/fonts.css";
@import "tailwindcss";
@import "./styles/base.css";
@import "./styles/animations.css";
@import "./styles/components.css";
@import "./styles/electron.css";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "coffee";
  default: true;

  /*--color-primary: #8f3d9e;
  --color-primary-content: #f5e9fa;

  --color-secondary: #c44dff;
  --color-secondary-content: #2a0833;

  --color-accent: #6e274f;
  --color-accent-content: #ffe6f0;

  --color-neutral: #4b1f5a;
  --color-neutral-content: #ead6f2;

  --color-base-100: #1a0e1f;
  --color-base-200: #241028;
  --color-base-300: #2e1433;
  --color-base-content: #e6d6ee;

  --color-info: #7b4ccf;
  --color-success: #5e3ba8;
  --color-warning: #b35c8a;
  --color-error: #8a2d4f;*/
}
