@font-face {
  font-family: "Fontin";
  src: url("./assets/fonts/Fontin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@layer utilities {
  .font-fontin {
    font-family: "Fontin", sans-serif;
  }
}

@plugin "daisyui" {
  themes: coffee;
}

.divider-color {
  border-color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
}

@layer utilities {
  .tabs-lift {
    & > .tab {
      background-color: var(--color-base-200);
      /* override the gradients that ::before uses */

      --tab-radius-grad:
        transparent calc(69% - var(--border)),
        color-mix(in oklab, var(--color-base-content) 10%, transparent)
          calc(calc(69% - var(--border)) + 0.25px),
        color-mix(in oklab, var(--color-base-content) 10%, transparent)
          calc(calc(69% - var(--border)) + var(--border)),
        var(--tab-bg) calc(calc(69% - var(--border)) + var(--border) + 0.25px);
    }
  }
}

.drag {
  -webkit-app-region: drag;
  app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
