@layer utilities {
  @keyframes indeterminate {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes pulse-ring {
    0% {
      box-shadow: 0 0 0 0
        color-mix(in oklab, var(--color-accent) 100%, transparent);
    }
    70% {
      box-shadow: 0 0 0 15px
        color-mix(in oklab, var(--color-accent) 0%, transparent);
    }
    100% {
      box-shadow: 0 0 0 0
        color-mix(in oklab, var(--color-accent) 0%, transparent);
    }
  }

  .animate-pulse-ring {
    position: relative;
    z-index: 1;
    animation: pulse-ring 2s ease-out infinite;
  }

  .animate-pulse-ring::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 40px var(--color-primary);
  }

  @keyframes stop-session {
    to {
      stroke-dashoffset: -100;
    }
  }

  .animate-stop-session {
    animation: stop-session 4s linear infinite;
  }

  .animation-fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    transition-delay: var(--fade-in-delay, 0ms);

    @starting-style {
      opacity: 0;
    }
  }

  .animation-stagger {
    transition: all 0.3s ease-out;
    transition-delay: calc(200ms + (sibling-index() - 1) * 100ms);
    top: 0;
    position: relative;

    @starting-style {
      opacity: 0;
      top: 20px;
    }
  }

  @property --animated-value {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
  }

  @property --int-part {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --dec-part {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  .animated-number {
    display: inline-block;
    --animated-value: var(--target-value, 0);
    transition: --animated-value var(--animation-duration, 0.8s) ease-out;
  }

  /* Integer only (0 decimals) */
  .animated-number--decimals-0 {
    --int-part: max(var(--animated-value) - 0.5, 0);
    counter-reset: int var(--int-part);
  }

  .animated-number--decimals-0::before {
    content: attr(data-sign) counter(int) attr(data-suffix);
  }

  /* 2 decimal places */
  .animated-number--decimals-2 {
    --temp: calc(var(--animated-value) * 100);
    --int-part: max(var(--animated-value) - 0.5, 0);
    --dec-part: max(calc((var(--temp) - var(--int-part) * 100)) - 0.5, 0);
    counter-reset: int var(--int-part) dec var(--dec-part);
  }

  .animated-number--decimals-2::before {
    content: attr(data-sign) counter(int) "." counter(dec, decimal-leading-zero)
      attr(data-suffix);
  }
}
